include ../external-link/external-link

mixin footer
	.footer
		.footer__group
			.footer__copyright

			.footer__list
				select.footer__theme(aria-label="Select theme")
					option(value="auto") {{ theme.auto }}
					option(value="light") {{ theme.light }}
					option(value="dark") {{ theme.dark }}

